<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include navigation.html %}
  
  <main>
    {{ content }}
  </main>
  
  <footer>
    <div class="container">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
      <p style="margin-top: 0.5rem; font-size: 0.9rem;">
        Master's Level Project | 
        <a href="https://github.com/krishnachaitanyabodepudi/silverleaf-faculty-portal" target="_blank">View on GitHub</a>
      </p>
    </div>
  </footer>
</body>
</html>

